img( src="/static/css/assets/instagram.png")
img( src="/static/css/assets/Twitter_Logo_White_On_Blue.png")
img( src="/static/css/assets/Skype-logo-Feb_2012_RGB_500.png" style="width: 7%")
p kortbeekdesigns@gmaile.com
copy right 

script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js")
script(type="text/javascript" src="/static/js/index.js")
script(type="text/javascript" src="/static/js/ajax.js")
script(type="text/javascript" src="/static/js/slideshow.js")
