<div class="nav-container">
  <div id="nav-icon2">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
  </div>
  <ul class='menu-items'>
    <li><a href=""><h2>About Me</h2></a></li>
    <li><a href=""><h2>My Work</h2></a></li>
    <li><a href=""><h2>What I Know</h2></a></li>
    <li><a href=""><h2>My Blog</h2></a></li>
    <li><a href=""><h2>Contact Me</h2></a></li>
    <li><a href=""><h2>Request A Quote</h2></a></li>
  </ul>
</div>
