@import url("https://fonts.googleapis.com/css?family=Raleway");
.beardGuy {
  width: 20%;
  margin-top: 2.5%; }

.titles h1 {
  font-size: 2.5em;
  color: #eac500;
  text-shadow: 2px 2px 3px #0b0b0b; }

.titles h2 {
  text-shadow: 2px 2px 3px #0b0b0b;
  margin-top: 2.5%; }
  .titles h2 :hover {
    font-size: 1.1em;
    transition: .3s ease-in-out; }

#about-container {
  margin-top: 5%;
  background-color: #fffcc4;
  color: black;
  overflow: hidden;
  padding-bottom: 11%; }
  #about-container h1 {
    font-size: 2.3em;
    margin-bottom: -7%;
    margin-top: 10%; }
  #about-container p {
    width: 50%;
    text-align: center;
    margin: auto;
    font-size: 1.8em;
    margin-top: 13%; }

#knowledge-container {
  background-color: steelblue;
  color: black;
  overflow: hidden; }
  #knowledge-container h1 {
    font-size: 2.3em;
    margin-bottom: -10%;
    margin-top: 5%; }
  #knowledge-container p {
    width: 50%;
    text-align: center;
    margin: auto;
    font-size: 1.8em;
    margin-top: 13%; }
  #knowledge-container img {
    width: 22%;
    margin-right: 5%; }
  #knowledge-container .diy-slideshow {
    height: 58vh;
    margin-top: 5%; }

#blog-container {
  background-color: aliceblue;
  color: black;
  overflow: hidden;
  padding-bottom: 11%; }
  #blog-container h1 {
    font-size: 2.3em;
    margin-bottom: -7%;
    margin-top: 10%; }
  #blog-container p {
    width: 50%;
    text-align: center;
    margin: auto;
    font-size: 1.8em;
    margin-top: 13%; }

#contact-container {
  background-color: green;
  color: black;
  overflow: hidden;
  padding-bottom: 11%; }
  #contact-container h1 {
    font-size: 2.3em; }
  #contact-container input {
    text-align: center;
    font-weight: bold;
    display: block;
    margin: auto;
    width: 50%;
    height: 4em;
    margin-bottom: 1.5em;
    border-radius: 0.5em;
    border-style: solid;
    border: none;
    outline: none; }
  #contact-container textarea {
    font-family: 'Varela Round', sans-serif;
    text-align: justify;
    font-weight: bold;
    border-radius: 0.5em;
    border-style: solid;
    border: none;
    outline: none;
    margin: 0px;
    height: 15em;
    width: 57em;
    margin-bottom: 1.5em; }
  #contact-container button {
    color: aliceblue;
    font-size: 1.3em;
    border-radius: 0.5em;
    background-color: steelblue;
    border-style: solid;
    border: none;
    outline: none;
    width: 37.8em;
    height: 2em; }
  #contact-container button:active {
    background-color: #6ca2d7; }
  #contact-container button:hover {
    cursor: pointer; }

#request-container {
  background-color: purple;
  color: black;
  overflow: hidden;
  padding-bottom: 11%; }
  #request-container h1 {
    font-size: 2.3em; }
  #request-container input {
    text-align: center;
    font-weight: bold;
    display: block;
    margin: auto;
    width: 50%;
    height: 4em;
    margin-bottom: 1.5em;
    border-radius: 0.5em;
    border-style: solid;
    border: none;
    outline: none; }
  #request-container textarea {
    font-family: 'Varela Round', sans-serif;
    text-align: justify;
    font-weight: bold;
    border-radius: 0.5em;
    border-style: solid;
    border: none;
    outline: none;
    margin: 0px;
    height: 15em;
    width: 57em;
    margin-bottom: 1.5em; }
  #request-container button {
    color: aliceblue;
    font-size: 1.3em;
    border-radius: 0.5em;
    background-color: steelblue;
    border-style: solid;
    border: none;
    outline: none;
    width: 37.8em;
    height: 2em; }
  #request-container button:active {
    background-color: #6ca2d7; }
  #request-container button:hover {
    cursor: pointer; }

.nav-container {
  margin-top: 2.5%;
  height: 70px;
  width: 70px;
  top: 2%;
  right: 6%;
  position: absolute;
  border-radius: 50%;
  background-color: #363636;
  background-image: url("/static/css/assets/black-background.png");
  padding: 1%;
  padding-left: 1%;
  text-align: center;
  text-decoration: none;
  list-style-type: none;
  transition: .5s ease-in-out; }
  .nav-container .menu-items {
    display: none;
    transition: .5s ease-in-out; }
  .nav-container ul {
    list-style-type: none;
    float: left;
    font-size: 3em;
    text-align: left;
    transition: 5s ease-in-out; }
  .nav-container li a {
    text-decoration: none; }
  .nav-container h2 {
    margin-bottom: -16%;
    color: black;
    transition: .3s ease-in-out; }
  .nav-container h2:hover {
    color: #eac500; }

.nav-container-shown {
  width: 100%;
  height: 70%;
  border-radius: 0%;
  margin: auto;
  top: 0%;
  right: 0%; }

#nav-icon2 {
  top: 12%;
  right: 17%;
  position: absolute;
  width: 60px;
  height: 45px;
  margin: 15px auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
  z-index: 20; }

/* Icon 2 */
#nav-icon2 span {
  display: block;
  position: absolute;
  height: 4px;
  width: 50%;
  background: #eac500;
  opacity: 1;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out; }

#nav-icon2 span:nth-child(even) {
  left: 50%;
  border-radius: 0 9px 9px 0; }

#nav-icon2 span:nth-child(odd) {
  left: 0px;
  border-radius: 9px 0 0 9px; }

#nav-icon2 span:nth-child(1), #nav-icon2 span:nth-child(2) {
  top: 0px; }

#nav-icon2 span:nth-child(3), #nav-icon2 span:nth-child(4) {
  top: 18px; }

#nav-icon2 span:nth-child(5), #nav-icon2 span:nth-child(6) {
  top: 36px; }

#nav-icon2.open span:nth-child(1), #nav-icon2.open span:nth-child(6) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg); }

#nav-icon2.open span:nth-child(2), #nav-icon2.open span:nth-child(5) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg); }

#nav-icon2.open span:nth-child(1) {
  left: 5px;
  top: 7px; }

#nav-icon2.open span:nth-child(2) {
  left: calc(50% - 5px);
  top: 7px; }

#nav-icon2.open span:nth-child(3) {
  left: -50%;
  opacity: 0; }

#nav-icon2.open span:nth-child(4) {
  left: 100%;
  opacity: 0; }

#nav-icon2.open span:nth-child(5) {
  left: 5px;
  top: 29px; }

#nav-icon2.open span:nth-child(6) {
  left: calc(50% - 5px);
  top: 29px; }

.about {
  background-color: grey; }

.diy-slideshow {
  position: relative;
  display: block;
  overflow: hidden; }

figure {
  position: absolute;
  opacity: 0;
  transition: 1s opacity; }

figcaption {
  position: absolute;
  font-family: sans-serif;
  font-size: .8em;
  bottom: .75em;
  right: .35em;
  padding: .25em;
  color: #fff;
  background: rgba(0, 0, 0, 0.25);
  border-radius: 2px; }

figcaption a {
  color: #fff; }

figure.show {
  opacity: 1;
  position: static;
  transition: 1s opacity; }

.next, .prev {
  color: #fff;
  position: absolute;
  background: rgba(0, 0, 0, 0.6);
  top: 50%;
  z-index: 1;
  font-size: 2em;
  margin-top: -.75em;
  opacity: .3;
  user-select: none; }

.next:hover, .prev:hover {
  cursor: pointer;
  opacity: 1; }

.next {
  right: 0;
  padding: 10px 5px 15px 10px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px; }

.prev {
  left: 0;
  padding: 10px 10px 15px 5px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px; }

html {
  height: 100%; }

body {
  background-image: url("/static/css/assets/gold-background.png");
  background-color: #1f1f1f;
  margin: auto;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  text-decoration: none;
  color: white; }

a {
  text-decoration: none; }

main {
  height: 100%; }

footer img {
  width: 3%; }
